body{
    background-image: url('https://img.freepik.com/foto-gratis/concepto-fondo-estudio-fondo-purpura-sitio-estudio-pendiente-ligera-vacia-abstracta-producto-fondo-liso-estudio_1258-63884.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}   